{% extends "base.html" %}

{% block page-header %}
        <div class="page-header">
            <h1>Dashboard</h1>
        </div>
        <p>Welcome to PoraPlan.pro dashboard! The main goal of PoraPlan.pro is
          to create and hold the meetings. <br>So the shortest path to create your
          first meetings is do the following steps:</p>
        <ol>
          <li>Create project and press "Add new project" button</li>
          <li>Fulfill all the important information and press "Save" button</li>
          <li>Go to meetings and press "Add new meetings" button</li>
          <li>Go through all the steps that helps not to miss something</li>
          <li>Now, you've done!</li>
        </ol>
        <br>
        <h4>Projects</h4>
        <p>To create project go to <a href="/projects">Projects</a> section.</p>
        <p>In this section you can ...</p>
        <h4>Meetings</h4>
        <p>To create meetings go to <a href="/meetings">Meetings</a> section.</p>
        <p>In this section you can ...</p>
        <h4>Account</h4>
        <p>To update the account go to <a href="/account">Account</a> section.</p>
        <p>In this section you can update your profile, email, passrod and
          other important information regarding to you.<p>
    {% endblock %}
{% block content %}
{% endblock %}
