{% extends "base.html" %}

{% block page-header %}
        <div class="page-header">
            <h1>Dashboard</h1>
        </div>
        <p>Welcome to PoraPlan.pro dashboard! The main goal of PoraPlan.pro is
          to create and hold the meetings. <br>The shortest path to create your
          first meetings is do the following steps:</p>
        <ol>
          <li>Create <a href="/projects">project</a> by pressing "Add new
            project" button;</li>
          <li>Fulfill all the important information and press "Save";</li>
          <li>Go to <a href="/meetings">meetings</a> and press "Add new
            meetings" button;</li>
          <li>Go through all the steps and press "Submit";</li>
          <li>Now, you've done! Have a good meetings!</li>
        </ol>

        <h4 class="pdd-t-def">Projects</h4>
        <p>To create project go to <a href="/projects">Projects</a> section.
          This is what you should do first!</p>
        <p>Each project includes the following information: Project name, Description,
          Deadline, Status and Team members.</p>

        <h4 class="pdd-t-def">Meetings</h4>
        <p>To create meetings go to <a href="/meetings">Meetings</a> section.
          After creating first project you can assign as much meetings you
          need.<br>
        Any meeting has 3 main parameters: related Project, Meeting type (for
        additional information and sorting) and <br>related Meeting (to create
        a series of them). Here are the hints for each step of
        creating process.</p>
        <dl>
          <dt>General tab</dt>
          <dd>Here you need to specify meeting Name, Date, Purpose and key
            Subject of the meeting.</dd>
          <dt>Agenda tab</dt>
          <dd>Here you attach the document describing what the subjects you
            will go through. Here is a good <a
              href="https://www.google.ru/search?safe=strict&tbm=isch&sa=1&q=meeting+agenda+examples&oq=meeting+agenda+examples">example</a>.</dd>
          <dt>Materials tab</dt>
          <dd>Here you can attach any additional handouts, documents and forms
            that your participants will need for.</dd>
          <dt>Time&Place tab</dt>
          <dd>Here you can chose the available rooms near your location
            (detection is done automatically). <br>Set minimum requirements for the
            convenient meeting, see if the rooms available, select and press "Submit".</dd>
        </dl>

        <h4 class="pdd-t-xsm">Account</h4>
        <p>To update the account go to <a href="/account">Account</a> section.</p>
        <p>In this section you can update your profile, email, passrod and
          other important information regarding to you.<p>
    {% endblock %}
{% block content %}
{% endblock %}
