{% extends "base_site.html" %}
{% block content %}
<!--HEAD-->
<div class="bgcl-blu4 brd-b-solid brcl-blu40 bxsh-blcM"
  style="padding-bottom:0px;"><!--border-line-->
  <div class="_row ovr-hidden pst-relative brd-b-solid bxsh-blcM">
    <div class="_col-12 ">
      <div class="fill bgcl-blc z-1 opc-lg"></div><!--fill-->
      <div class="fill bg-nature z-0"></div><!--fill-->
      <div class="container">
        <div class="pst-relative z-5 c-wht txsh-blcM-md txal-center pdd-t-lg pdd-b-lg ">
          <h1 class="_txt-disp4">PoraPlan<span class="_txt-subh">.pro</span></h1>
          <div class="pst-relative" style="top:-15px;">
            <p class="_txt-capt" style="top:-px;">by Innopolis, Managing Software Development</p>
            <p class="fnwg-bold _txt-subh">Make your planning efficient</p>
          </div>
          <a href="/projects" target="_blank" class="_col-2 _center-x mrg-t-def
            _txt-butt _btn _btn-blu">Try now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--HEAD-->
<div class="container">

  <!-- FEATURE IMAGES -->
  <div class="pdd-t-md pdd-b-md">
    <h2 class="_txt-head txal-center fnwg-bold">All the features you need!</h2>
    <p class="_txt-capt txal-center pst-relative c-gra60" style="top:-5px;">to
      bring your meetings on the new level</p>
    <div class="_row _gutter pdd-t-def">
      <div class="_col-2 _offs-2 txal-center">
        <i class="material-icons" style="font-size:5rem">https</i>
        <p class="fnwg-bold">Fast reservation</p>
      </div>
      <div class="_col-2 txal-center">
        <i class="material-icons" style="font-size:5rem">explore</i>
        <p class="fnwg-bold">Smart guidelines</p>
      </div>
      <div class="_col-2 txal-center">
        <i class="material-icons" style="font-size:5rem">timeline</i>
        <p class="fnwg-bold">Tracking</p>
      </div>
      <div class="_col-2 txal-center"> <i class="material-icons" style="font-size:5rem">poll</i>
        <p class="fnwg-bold">Statistics</p>
      </div>
    </div>
  </div>

  <!--separator-->
  <div class="brd-t-solid brcl-blcL pdd-b-sm mrg-t-"></div>

  <!-- SECTION PLAN -->
  <h2 class="_txt-head fnwg-bold">Plan your meetings</h2>
  <div class="_row">
    <div class="_col-6 pdd-b-def">We provide high quality service to appoint and
      track day to day meetings. Hints, manuals, real world practice and
      real-time tracking brings you meetings on the new level. </div>
  </div>
  <div class="_row _gutter">
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 1</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 2</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 3</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 4</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION PLAN -->
  <h2 class="_txt-head txal-right fnwg-bold pdd-t-md">Hold your meeting</h2>
  <div class="_row">
    <div class="_col-6 _offs-6 pdd-b-def">We provide high quality service to appoint and
      track day to day meetings. Hints, manuals, real world practice and
      real-time tracking brings you meetings on the new level. </div>
  </div>
  <div class="_row _gutter">
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 1</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 2</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 3</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
    <div class="_col-3">
      <!--feature-block-->
      <div class="brd-solid brcl-blcM pdd-xsm">
        <p class="pdd-b-xxsm fnwg-bold">Feature 4</p>
        <p> Elit quaerat a vel dolorum dolores eos, natus. Maiores magnam.  </p>
        <div class="txal-right pdd-t-xxsm">
          <a class="_btn _btn-blc" href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <!--DONT WASTE YOUR TIME-->
  <div class="_row brd-t-solid brcl-blcM pdd-t-sm mrg-t-md pdd-b-lg">
    <div class="_container txal-center">
      <h2 class="_txt-head fnwg-bold">Don't waste your time,<br><span
          class="fnwg-normal pst-relative" style="top:-10px;">start planning!</span></h2>
      <i class="material-icons pst-relative"
        style="font-size:5rem;top:-5px;">timer</i>
      <div class="_row">
        <a class="_btn _btn-blu _col-2 _center-x fnwg-bold" target="_blank" href="/projects">Try now</a>
      </div>
    </div>
  </div>

</div>

<!--FOOTER-->
<div class="pdd-t-xxsm brd-t-sol brcl-blu40 bgcl-blu50">
  <div class="pst-relative bgcl-gra90 bg-nature bgsz-cover" style="background-position-y: 0%;">
    <div class="fill bgcl-blc"></div><!--fill-->
    <!--container-->
    <div class="_container">
      <div class="_row _gutter c-gra50 txal-left pdd-t-def">
        <div class="_col-3">
          <h4 class="fnwg-bold pdd-b-xxsm">Development team</h4>
          <p>Bobrov Evgnii <a class="txdc-under" href="https://github.com/Eugenebobrov">@EugeneBobrov</a></p>
          <p>Bulat Mukhutdinov <a class="txdc-under" href="https://github.com/BulatMukhutdinov"> @BulatMukhutdinov</a></p>
          <p>Bobko Igor <a class="txdc-under" href="https://github.com/IBobko">@IBobko</a> </p>
          <p>Vyacheslav Stepanov <a class="txdc-under" href="https://github.com/sweb2020">@sweb2020</a></p>
          <p>Timur Fayzrakhmanov <a class="txdc-under" href="https://github.com/timfayz">@timfayz</a></p>
        </div>
        <div class="_col-3">
          <h4 class="fnwg-bold pdd-b-xxsm">About</h4>
          <p> Sit aspernatur corrupti recusandae consequatur veritatis? Facilis commodi nam eos officiis excepturi, pariatur architecto, error? Doloribus vitae nulla quia eaque </p>
        </div>
        <div class="_col-3">
          <h4 class="fnwg-bold pdd-b-xxsm">Technology stack</h4>
          <p>Django</p>
          <p>Bootstrap</p>
          <p>Python</p>
          <p>Elementcss</p>
        </div>
        <div class="_col-3">
          <h4 class="fnwg-bold pdd-b-xxsm">Quick jump</h4>
          <a href="#">Home</a>
          <br>
          <a href="#">Sign in</a>
          <br>
          <a href="#">Sign out</a>
          <br>
          <a href="#">Dashboard</a>
          <br>
        </div>
      </div>
      <div class="pdd-t-xxsm pdd-b-xxsm mrg-t-xsm brd-t-solid brcl-blc">
        Innopolis University, 2016-2017
      </div>
    </div>
  </div>
</div>
<!-- <i class="material-icons relative c-red50" style="top:5px">favorite</i> -->

{% endblock content %}
