{% extends "base.html" %}
{% block header %}
    {{ block.super }}
    {% include "home_header.html" %}
    <div class="container">
      <h1 class="pdd-t-s">PoraPlan.pro</h1>
      Innopolis Fall 2016 Managing Software Development project

      <h2 class="pdd-t-xs">Team</h2>

      <ul>
        <li>Bobrov Evgnii @EugeneBobrov (SCRUM master)</li>
        <li>Bulat Mukhutdinov @BulatMukhutdinov</li>
        <li>Bobko Igor @IBobko</li>
        <li>Vyacheslav Stepanov @sweb2020</li>
        <li>Timur Fayzrakhmanov @timfayz</li>
      </ul>

      <h2 class="pdd-t-xs">Customer</h2>
      Vasilii Artemev

      <h2 class="pdd-t-xs">Process</h2>


      The project developed based on the SCRUM methodology, that might be find
      on YouTack


    </div>

{% endblock %}
