{% extends "base.html" %}

{% block page-header %}
        <div class="page-header">
            <h1>Sign up</h1>
        </div>
    {% endblock %}
{% block content %}

    <form action="/authorization/signup_process/" method="POST">  {% csrf_token %}
        <table class="table" style="width:400px">
            <tbody>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="email" name="email" id="email" value="" class="form-control"/></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" class="form-control" value=""/></td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" type="submit" name="submit" value="submit-value">Sign up</button>
    </form>

{% endblock %}

