{% extends "base.html" %}

{% block page-header %}
    <div class="page-header">
        <h1>Project {{ project.id }}</h1>
    </div>
{% endblock %}

{% block content %}
    <strong>Description:</strong> {{ project.description }}<br/><br/>

    <strong>Projects members:</strong>
    <br/>    <br/>

    <table>

        <th>Role</th>
        <th>Name</th>

        {% for member in project.team_members.all %}
            <tr>
                <td>
                    {{ member.role.name }}
                </td>
                <td>
                    {{ member.member.username }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>

    <strong>Meetings</strong>

 <br/>
    <table>
        {% for meeting in meetings %}
            <tr>
                <td>
                    {{ meeting }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}