{% extends "base.html" %}

{% block page-header %}
    <div class="page-header">
        <h1>Project {{ project.name }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="content-header">
        <h3>Project details:</h3>
        <br/>
        <div class="form-group">
            <label>Description: </label>
            {{ project.description }}
        </div>
        <div class="form-group">
            <label>Deadline: </label>
            {{ form.deadline.value }}
        </div>
         <div class="form-group">
            <label>Status: </label>
            {{ form.status.value }}
        </div>
    </div>
    <hr>
    <h3>Projects members:</h3>
    {% if form.instance.id %}

            <label for="{{ form.description.id_for_label }}">Team members:</label>
            <div>
                {{ form.form.team_members.errors }}
                <input type="text" id="emailForSending"/>
                <button id="inviteButton">Invite</button>
                <br/>
                {{ form.team_members }}
            </div>
        {% endif %}
    <br/>
    <label for="{{ form.deadline.id_for_label }}">Team members </label>


        <input type="text" id="member_email" data-provide="typeahead"
               data-source='[{% for ac in acs %}"{{ ac.user.email }}",{% endfor %}""]'/>
        <button id="addMemberBtn">Add member</button>
        <div class="list-group" id="member_group"></div>


        <script>
            function deleteMember(t) {
                $(t).closest().closest().remove();
            }

            $('#addMemberBtn').click(function () {
                $('#member_group').append('<div class="list-group-item"><input type="hidden" name="team_members[]" value="' + $('#member_email').val() + '"/><a href="#" style="float:right" onclick="deleteMember(this);return false;" >Delete</a> <a style="margin-right:100px" href="#">' + $('#member_email').val() + '</a></div>');
                return false;
            });


        </script>
        <script type="text/javascript">

            $('[data-provide="typeahead"]').typeahead(
                    {
                        {#                    source: function(c)#}
                        {#                    {#}
                        {#                        console.log(c);#}
                        {#                        return $.get("/account/json");#}
                        {#                    }#}

                    }
            );


            $("#inviteButton").click(function () {

                var data = {
                    email: $("#emailForSending").val(),
                    project_id: {{ form.instance.id }}
                };
                $.get("{% url 'project_invite' %}", data, function (response) {
                    alert(response);
                });
                return false;

            });
        </script>

        <br/>
           {% if project.team_members.all|length %}
            <table class="table table-hover">
                <thead>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
                <th>E-mail</th>
                <th></th>
                </thead>
                <tbody>
                {% for member in project.team_members.all %}
                    <tr>
                        <td>{{ member.member.name }}</td>
                        <td>{{ member.member.lastname }}</td>
                        <td>{{ member.member.role }}</td>
                        <td>{{ member.member.email }}</td>
                        <td><a href="{% url 'meeting_delete' item.id %}">delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
<hr>
    <h3>Meetings list</h3>

 <br/>
    {% with related_topics="" %}
        {#Should be inside of concrete meeting#}
        {#    <a href="{% url 'agenda_list' %}">Agendas</a><br/><br/>#}
        {% if meetings|length %}
            <table class="table table-hover">
                <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>

                <th>Agenda</th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for item in meetings %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.meeting_type }}</td>
                        <td>{{ item.date }}</td>
                        <td>
                            {% for topic in topics %}
                                {% if topic.agenda == item.agenda %}
                                    {{ topic.name|add:';' }}
                                {% endif %}
                            {% endfor %}</td>
                        <td><a href="{% url 'meeting_edit' item.id %}">edit</a></td>
                        <td><a href="{% url 'meeting_delete' item.id %}">delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <a class="btn btn-info" href="{% url 'meeting_new' %}">Add new meeting</a>
        <br/><br/>
    {% endwith %}

{% endblock %}