{% extends "base.html" %}

{% block page-header %}
    <div class="page-header">
        <h1>Create new meeting</h1>
    </div>
{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
            <label for="progress">Completes</label>
            <div class="progress progress-striped">

                <div class="progress-bar" role="progressbar" aria-valuenow="60" id="bar_progress" aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: 0%;">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4" id="project_select">
                {{ form.project.errors }}
                <label for="{{ form.message.id_for_label }}">Project</label>
                {{ form.project }}
                {#                            <select name="project" class="form-control" id="meeting_project">#}
                {#                                {% for project in projects %}#}
                {#                                    <option value="{{ project }}">{{ project }}</option>#}
                {#                                {% endfor %}#}
                {#                            </select>#}
            </div>


            <div class="form-group col-md-4" id="meeting_type">
                <label for="meeting_type">Meeting type</label>
                {{ form.meeting_type }}
                {#                            <select name="meeting_type" class="form-control" id="meeting_type">#}
                {#                                {% for type in meetingTypes %}#}
                {#                                    <option value="{{ type }}">{{ type }}</option>#}
                {#                                {% endfor %}#}
                {#                            </select>#}
            </div>

            <div class="form-group col-md-4" id="relative_meeting">
                <label for="relative_meeting">Relative meeting</label>
                <select name="meeting_type" class="form-control" id="relative_meeting">
                    {% for meeting in relativeMeetings %}
                        <option value="{{ meeting.id }}">{{ meeting }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="bd-example bd-example-tabs" role="tabpanel">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active" aria-expanded="true">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#general_info" role="tab"
                           aria-controls="general_info" aria-expanded="true">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#agenda" role="tab"
                           aria-controls="profile">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#materials" role="tab"
                           aria-controls="general_info"
                        >Materials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#time_place" role="tab"
                           aria-controls="profile">Time and Place</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div role="tabpanel" class="tab-pane fade in" aria-expanded="true" id="general_info"
                         aria-labelledby="home-tab">
                        <div class="form-group col-xs-8">
                            <label for="meeting_name">Name</label>
                            <input type="text" name="name" class="form-control" id="meeting_name"
                                   placeholder="My meeting"
                                   oninvalid="this.setCustomValidity('Please enter the name')" required/>
                        </div>

                        <div class="form-group col-xs-4">
                            <label for="datetimepicker">Date</label>
                            <div class='input-group date' id='datetimepicker'>
                                <input name="date" type='text' class="form-control"
                                       required/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group col-xs-8">
                            <label for="meeting_purpose">Purpose</label>
                            <input type="text" name="purpose" class="form-control" id="meeting_purpose"
                                   placeholder="Purpose of the Meeting"
                                   oninvalid="this.setCustomValidity('Please enter the purpose')" required/>
                        </div>
                        {#TODO: uncommit when adding members would available#}
                        {#                        <div class="col-xs-4">#}
                        {#                            <label for="progress">Add members</label>#}
                        {#                            <div class="input-group">#}
                        {#                                <input type="text" class="form-control" placeholder="Search for person...">#}
                        {#                                <span class="input-group-btn">#}
                        {#                                    <button class="btn btn-default" type="button">Add</button>#}
                        {#                                </span>#}
                        {#                            </div>#}
                        {#                        </div>#}

                        <div class="form-group col-xs-8">
                            <label for="meeting_subject">Subject</label>
                            <input type="text" name="subject" class="form-control" id="meeting_subject"
                                   placeholder="Identification of Subject matter"
                                   required/>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="agenda" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="form-group">
                            <h3>Agenda</h3>

                            <div id="dynamicInput" class="form-group">
                            </div>
                            <button type="button" onclick="addInput('dynamicInput');" class="btn btn-info pull-right">
                                Add item
                            </button>
                            <br>
                        </div>
                        <input type="hidden" id="agenda-elems" name="agenda"/>
                    </div>
                    <div class="tab-pane fade" id="materials" role="tabpanel" aria-labelledby="profile-tab">
                        <h3>Materials</h3>
                    </div>
                    <div class="tab-pane fade" id="time_place" role="tabpanel" aria-labelledby="profile-tab">
                        <h3>Time and Place</h3>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <input type="submit" onclick="onSubmit()" value="Submit" class="btn btn-primary"/>
        </div>
    </form>

    <script type="text/javascript">
        $('.nav-tabs a:first').tab('show');
        $("#project_select").change(function () {
            if ($("#project_select option:selected").val() == "") {
                if (point['project'] == true) {
                    point['project'] = false;
                    valeur = valeur - persent;
                }
            } else {
                if (point['project'] == false) {
                    point['project'] = true;
                    valeur = valeur + persent;
                }
            }
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur).html(Math.round(valeur) + "%");
        });
        $("#meeting_type").change(function () {
            if ($("#meeting_type option:selected").val() == "") {
                if (point['meeting_type'] == true) {
                    point['meeting_type'] = false;
                    valeur = valeur - persent;
                }
            } else {
                if (point['meeting_type'] == false) {
                    point['meeting_type'] = true;
                    valeur = valeur + persent;
                }
            }
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur).html(Math.round(valeur) + "%");
        });
        {#        $(document).ready(function () {#}
        {#            if ($("#project_select option:selected").length) {#}
        {#                alert('!');#}
        {#            }#}
        {#        });#}

        {#        $(".nav a").on("click", function () {#}
        {#            $(".nav-item").find(".active").removeClass("active");#}
        {#            $(this).parent().addClass("active");#}
        {#        });#}
        var valeur = 0;
        var point = {
            "meeting_subject": false,
            "meeting_name": false,
            "meeting_purpose": false,
            "datetimepicker": false,
            "project": false,
            "meeting_type": false
        };
        var persent = 100 / Object.keys(point).length;

        $("#datetimepicker").on("dp.change", function () {
            if (point['datetimepicker'] == false) {
                point['datetimepicker'] = true;
                valeur = valeur + persent;
                $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur).html(Math.round(valeur) + "%");
            }
        });

        $('input').on('input', function () {
            var SubkectElem = $(this).val();
            var id = this.id.toString()
            if ((SubkectElem != "") && (point[id] == false)) {
                valeur = valeur + persent;
                point[id] = true;
            }
            if (SubkectElem == "") {
                valeur = valeur - persent;
                point[id] = false;
            }
            $('.progress-bar').css('width', valeur + '%').attr('aria-valuenow', valeur).attr('val', valeur).html(Math.round(valeur) + "%");
        });

        $(function () {
            $('#datetimepicker').datetimepicker();
        });
        var topicsCount = 0;
        var ids = [];
        function addInput(divName) {
            topicsCount++;
            var newdiv = document.createElement('div');
            newdiv.setAttribute('id', topicsCount);
            newdiv.setAttribute('class', 'input-group');
            ids.push(topicsCount);
            newdiv.innerHTML =
                    "<input type='text' class='form-control' placeholder='Topic'>" +
                    "<span class='input-group-btn'>" +
                    "<button type='button' class='btn btn-danger' onclick='removeElement("
                    + topicsCount + ")');'>Remove</button>" +
                    "</span>";
            document.getElementById(divName).appendChild(newdiv);
        }
        function removeElement(id) {
            var elem = document.getElementById(id);
            elem.parentNode.removeChild(elem);
            ids.remove(id);
        }
        function onSubmit() {
            var agendaInput = $("#agenda-elems");
            agendaInput.val("");
            $.each(ids, function (i, val) {
                var agendaElem = $("#dynamicInput").find("#" + val + " input").val();
                agendaInput.val(agendaInput.val() + '\n' + agendaElem);
            });
        }
        Array.prototype.remove = function () {
            var what, a = arguments, L = a.length, ax;
            while (L && this.length) {
                what = a[--L];
                while ((ax = this.indexOf(what)) !== -1) {
                    this.splice(ax, 1);
                }
            }
            return this;
        };
    </script>
{% endblock %}