{% extends "base.html" %}



{% block content %}
    <h1>Projects</h1>
    <br/>
    <a class="btn btn-info" href="{% url 'project_new' %}">Add new project</a>
    <br/><br/>
    <table class="table table-hover">
        <thead>
        <th>Name</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        {% for server in object_list %}
            <tr>
                <td>{{ server.name }} :</td>
                <td><a href="{% url 'project_edit' server.id %}">edit</a></td>
                <td><a href="{% url 'project_delete' server.id %}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

