{% extends "base.html" %}

{% block page-header %}
    <div class="page-header">
        <h1>Create new project</h1>
    </div>
{% endblock %}

{% block content %}

    <script>
        function t(v) {
            // $('#members tbody').append($(v).html());
            $('#id_team_members').append("<option selected value='" + $(v).html() + "'>" + $(v).html() + "</option>");
        }
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    {% for user in users %}
                        <div onclick="t(this)">{{ user }}</div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <table cellpadding="5" cellspacing="5">
            <tr>
                <td><label for="{{ form.name.id_for_label }}">Project name:</label></td>
                <td>{{ form.name.errors }}{{ form.name }}</td>
            </tr>

            <tr>
                <td valign="top">
                    <label for="{{ form.description.id_for_label }}">Description:</label></td>
                <td>{{ form.description.errors }}{{ form.description }}</td>
            </tr>
            <tr>
                <td valign="top">
                    <label for="{{ form.description.id_for_label }}">Team members:</label></td>
                <td>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Users
                    </button>
                    {{ form.form.team_members.errors }}{{ form.team_members }}
                    {#                    <table class="table" id="members">#}
                    {#                        <tbody>#}
                    {#                        <tr>#}
                    {##}
                    {#                        </tr>#}
                    {#                        </tbody>#}
                    {#                    </table>#}

                </td>
            </tr>

        </table>

        <br/>

        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
{% endblock %}