{% extends "base.html" %}

{% block page-header %}
    <div class="page-header">
        <h1>Create new project</h1>
    </div>
{% endblock %}

{% block content %}

    <script type="text/javascript">
        function t(v) {
            // $('#members tbody').append($(v).html());
            $('#id_team_members').append("<option selected value='" + $(v).html() + "'>" + $(v).html() + "</option>");
        }
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    {% for user in users %}
                        <div onclick="t(this)">{{ user }}</div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <label for="{{ form.name.id_for_label }}">Project name:</label>
        <div>
            {{ form.name.errors }}{{ form.name }}
        </div>


        <label for="{{ form.description.id_for_label }}">Description:</label>
        <div>{{ form.description.errors }}{{ form.description }}</div>

        {% if form.instance.id %}

            <label for="{{ form.description.id_for_label }}">Team members:</label>
            <div>
                {{ form.form.team_members.errors }}
                <input type="text" id="emailForSending"/>
                <button id="inviteButton">Invite</button>
                <br/>
                {{ form.team_members }}
            </div>
        {% endif %}

        <label for="{{ form.deadline.id_for_label }}">Deadline:</label>
        <div>{{ form.deadline.errors }}{{ form.deadline }}</div>

{#        <label for="{{ form.deadline.id_for_label }}">Status:</label>#}
{#        <div>{{ form.status.errors }}{{ form.status }}</div>#}

        <label for="{{ form.deadline.id_for_label }}">Team members </label>


        <input type="text" id="member_email" data-provide="typeahead"
               data-source='[{% for ac in acs %}"{{ ac.user.email }}",{% endfor %}""]'/>
        <button id="addMemberBtn">Add member</button>
        <div class="list-group" id="member_group"></div>


        <script>
            function deleteMember(t) {
                $(t).closest().closest().remove();
            }

            $('#addMemberBtn').click(function () {
                $('#member_group').append('<div class="list-group-item"><input type="hidden" name="team_members[]" value="' + $('#member_email').val() + '"/><a href="#" style="float:right" onclick="deleteMember(this);return false;" >Delete</a> <a style="margin-right:100px" href="#">' + $('#member_email').val() + '</a></div>');
                return false;
            });


        </script>
        <br/>

        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>

    <script type="text/javascript">

        $('[data-provide="typeahead"]').typeahead(
                {
                    {#                    source: function(c)#}
                    {#                    {#}
                    {#                        console.log(c);#}
                    {#                        return $.get("/account/json");#}
                    {#                    }#}

                }
        );


        $("#inviteButton").click(function () {

            var data = {
                email: $("#emailForSending").val(),
                project_id: {{ form.instance.id }}
            };
            $.get("{% url 'project_invite' %}", data, function (response) {
                alert(response);
            });
            return false;

        });
    </script>

{% endblock %}