{% extends "base.html" %}


{% block page-header %}
    <div class="page-header">
        <h1>Projects</h1>
    </div>
{% endblock %}
{% block content %}
    <a class="btn btn-info" href="{% url 'project_new' %}">Add new project</a>
    <br/><br/>
    <table class="table table-hover">
        <thead>
        <th>Name</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        {% for server in object_list %}
            <tr>
                <td><a href="{% url 'project_view' %}?project_id={{ server.id }}">{{ server.name }}</a></td>
                <td><a href="{% url 'project_edit' server.id %}">edit</a></td>
                <td><a href="{% url 'project_delete' server.id %}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

