// _set-type.scss adds typography styles.
// Customize it yourself.

$s: (); // temp sets storage

// Define Basic Variables
// --------------------------------------------------
// Font families
$_font-family-sans:   "Exo 2", Arial, sans-serif;
$_font-family-serif:  Georgia, "Times New Roman", Times, serif;
$_font-family-mono:   Monaco, Menlo, Consolas, "Courier New", monospace;

// Main properties
$_baseline:       8px;
$_font-size:      16px;
$_line-height:    calc-line(24px, $_baseline);
$_font-family:    $_font-family-sans;

// Set calc-line() baseline relative to line-height
$calc-line-baseline: $_line-height;
$calc-line-threshold: 90%;
// Type set (name, font-size, line-height, font-weight)
$_type-max:       disp4  114px  calc-line(112px) lighter;
$_type-xxlg:      disp3  60px   calc-line(56px)  normal;
$_type-xlg:       disp2  47px   calc-line(45px)  normal;
$_type-lg:        disp1  36px   calc-line(34px)  normal;
$_type-md:        head   26px   calc-line(24px)  normal;
$_type-sm:        titl   22px   calc-line(20px)  bolder;
$_type-xsm:       subh   18px   calc-line(16px)  normal;
$_type-xxsm:      butt   18px   calc-line(14px)  bolder;
$_type-min:       capt   14px   calc-line(12px)  normal;
$_type-default:   body   16px   calc-line(14px)  normal;

// Define Sets
// --------------------------------------------------
// Name, Font-Size, Line-Height, Font-weight
$s: add($s, (font-size, line-height, font-weight), _txt, (
  nth($_type-default, 1), nth($_type-default, 2) _ nth($_type-default, 3) _ nth($_type-default, 4),
  nth($_type-max, 1),     nth($_type-max, 2) _ nth($_type-max, 3) _ nth($_type-max, 4),
  nth($_type-xxlg, 1),    nth($_type-xxlg, 2) _ nth($_type-xxlg, 3) _ nth($_type-xxlg, 4),
  nth($_type-xlg, 1),     nth($_type-xlg, 2) _ nth($_type-xlg, 3) _ nth($_type-xlg, 4),
  nth($_type-lg, 1),      nth($_type-lg, 2) _ nth($_type-lg, 3) _ nth($_type-lg, 4),
  nth($_type-md, 1),      nth($_type-md, 2) _ nth($_type-md, 3) _ nth($_type-md, 4),
  nth($_type-sm, 1),      nth($_type-sm, 2) _ nth($_type-sm, 3) _ nth($_type-sm, 4),
  nth($_type-xsm, 1),     nth($_type-xsm, 2) _ nth($_type-xsm, 3) _ nth($_type-xsm, 4),
  nth($_type-xxsm, 1),    nth($_type-xxsm, 2) _ nth($_type-xxsm, 3) _ nth($_type-xxsm, 4),
  nth($_type-min, 1),     nth($_type-min, 2) _ nth($_type-min, 3) _ nth($_type-min, 4),
));

// Font-Weight
$s: add($s, font-weight, $Font-weight, (
  normal, normal,
  bold, bold,
));

// Font-Style
$s: add($s, font-style, $Font-style, (
  italic, italic,
  normal, normal,
));

// Text-Decoration
$s: add($s, text-decoration, $Text-decoration, (
  under, underline,
  through, line-through
));

// Text-Transform
$s: add($s, text-transform, $Text-transform, (
  upper, uppercase,
  lower, lowercase,
  capital, capitalize
));

// Text-Align
$s: add($s, text-align, $Text-align, (
  left, left,
  right, right,
  center, center,
  justify, justify,
));

// List-style
$s: add($s, list-style, $List-style, (
  none, none,
  disc, disc,
  square, square
));


// Render Styles
// --------------------------------------------------
html {
  //line-height: round-unit($_line-height, em);
  @include media(root) {
    font-size: $_font-size;
  }
  //@include media(tablet, $media) { font-size: 14px; }
  //@include media(mobile, $media) { font-size: 13px; }
}

body {
  font-family: $_font-family;
  //overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

small {
  @extend .fnsz-mono !optional;
}

var,
code,
kbd,
pre,
samp {
  @extend .fnfm-mono !optional;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
}
sub {
  top: -0.5em;
}
sup {
  bottom: -0.25em;
}

// render all stored sets
@include sets($s, $media);
