{% include "top.html" %}
<!-- PoraPlan custom styles -->
<link href="/static/css/init.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link href="/static/bower_components/polymer/polymer.html" rel="import">
{% block content %}
{% endblock %}

{% include "bottom.html" %}

